<nav ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
    <ng-container ngbNavItem >
        <a ngbNavLink (click)="showKudos()">Wall</a>
        <ng-template ngbNavContent>
            <p>Show the list of Kudos in all User's Rooms</p>
            <div *ngFor="let kudo of kudos" >
			<kudo-card [theKudo]="kudo"></kudo-card>
			</div>
        </ng-template>
    </ng-container> 
    <ng-container ngbNavItem>
      <a ngbNavLink (click)="showGroups()">Rooms</a>
      <ng-template ngbNavContent>
        <div class="container">
          <div class="row">
            <div class="col-8">
              <div class="row row-cols-1 row-cols-md-2">
                  <div *ngFor="let group of userGroups" class="col mb-4">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{group.groupname}}</h5>
                        <div *ngFor="let user of group.users">
                          <p class="card-text">{{user.username}} </p>
                        </div>
                        <kudo-modal></kudo-modal>
                        <a href="#" class="btn btn-link" 
                            (click)="onShare(group.groupname)">
                          Share Room
                        </a>
                      </div>
                    </div>  

                  </div>
              </div>
            </div>
            <div class="col-4">              
              <group-modal></group-modal>
            </div>
          </div>
          </div>
      </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
