<div class="col-12 flex">
   	<div class="row row-cols-1 row-cols-md-3">
       	<div class="col mb-2">
			<div class="card" style="width: 14rem;">
               	<div class="card-body">
  	             	<h5 class="card-title">{{theKudo.content}}</h5>
					<p class="card-text">Kudo recipents</p>
					
					<div *ngFor="let user of theKudo.users">
    					<div class="col-12">
			        		<div class="row row-cols-2 row-cols-md-1">
			            		<div class="col mb-0">
			                	    <div class="card" style="width: 6rem;">
               				  			<div clas="card-body">
		                        			<h6 class="card-text">{{user.username}}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<p class="card-text">Kudo author</p>
        	   		<h5 class="card-text">{{theKudo.author.username}}</h5>
				</div>
				
			</div>
		</div>
	</div>
</div>
