<div class="card rounded-lg shadow m-3">
	<h5 class="card-header text-light bg-primary d-flex justify-content-around">
		<div *ngFor="let user of theKudo.users">
			<div><span class="font-italic at-the-rate">@</span>{{user.username}}<span></span></div>
		</div>
	</h5>
	<div class="card-body pt-1 pl-1">
	  <div *ngFor="let group of theKudo.groups" class="text-muted font-italic" >&mdash; posted on {{group.groupname}} </div>
	  <div class="pl-3 mt-2">
		{{theKudo.content}}
	  </div>
	</div>
	<div class="card-footer text-muted text-right font-italic">
	  <span class="mr-3">From</span><span class="fa fa-user-circle"></span><span class="ml-1">{{theKudo.author.username}}</span>
	</div>
  </div>
