<button class="btn btn-lg btn-primary" (click)="open(content)">Send Kudos</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Kudos</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="modal.close('Save click'); onSubmit(f)" >
        <div class="form-group">
            <label for="content" class="col-form-label">Type the Kudo:</label>
            <input required type="text" ngbAutoFocus class="form-control" ngModel #content="ngModel" name ="content" id="content">
        	<div class="alert alert-danger" *ngIf="content.touched && !content.valid ">Kudo cannot be empty</div>
        </div> 
		<!--  <mandar component/>--> 
			<div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!content.valid">Send</button>
            </div>
        </form>
    </div>
</ng-template>


