<button class="btn btn-primary" (click)="open(list_of_users)">Send Kudos</button>

<ng-template #list_of_users let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select participants</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Room participants</p>
        <form #f="ngForm" (ngSubmit)="testIfEmpty()" >
            <div *ngIf="isUserListEmpty" class = "alert alert-danger">At least one user should be selected</div>
                <div class="inputGroup" *ngFor="let iteration of userlist">
                    <input [(ngModel)] = "iteration.checked"  type="checkbox" id="{{iteration.user.username}}" value="{{iteration.user.username}}" name="{{iteration.user.username}}">
                    <label for="{{iteration.user.username}}">{{iteration.user.username}}</label>
                </div>
            <div class="modal-footer">
                <!-- <button type="button"  class="btn btn-primary" (click)="modal.close('Save click')">Save</button> -->
                <button type="submit" class="btn btn-primary rounded-pill">Next &raquo;</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #send_kudo_form let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Kudos</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="modal.close('Save click'); onSubmit(f)" >
        <div class="form-group">
            <label for="content" class="col-form-label">Type the Kudo:</label>
            <input required type="text" class="form-control" ngModel #content="ngModel" name ="content" id="content">
        	<div class="alert alert-danger" *ngIf="content.touched && !content.valid ">Kudo cannot be empty</div>
        </div> 
		<!--  <mandar component/>--> 
			<div class="modal-footer">
                <button type="submit" class="btn btn-primary rounded-pill" [disabled]="!content.valid">Send</button>
            </div>
        </form>
    </div>
</ng-template>


