<div class="container">
    <div class="btn-group-sm float-right">
        <button class="btn btn-lg btn-outline-primary " (click)="open(content)">Join Room</button>
        <button class="btn btn-lg btn-outline-primary " (click)="open(createGroup)">Create Room</button>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Join Room</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Enter room details</p>
        <form #f="ngForm" (ngSubmit)="onSubmit(f,0)" >
        <div class="form-group">
            <div *ngIf="formError.groupnameNotFound" class = "alert alert-danger" >Group name does not exist</div>
            <div *ngIf="formError.passwordError" class = "alert alert-danger" >Wrong Password</div>
            <div *ngIf="formError.userAlreadyPresent" class = "alert alert-danger" >User already present in the group</div>
            <label for="recipient-name" class="col-form-label">Room Name:</label>
            <input type="text" ngbAutoFocus class="form-control" name="name" ngModel #name="ngModel" id="name" required>
            <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
                <div *ngIf="name.errors.required">Room name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Room Password:</label>
            <input type="password" class="form-control" name="password" ngModel #password="ngModel" id="password" required>
            <div *ngIf="password.touched && !password.valid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Room password is required</div>
            </div>
        </div>
            <div class="modal-footer">
                <!-- <button type="button"  class="btn btn-primary" (click)="modal.close('Save click')">Save</button> -->
                <button type="submit" class="btn btn-primary" [disabled] = "!f.valid">Join</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #createGroup let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Room</h4>
      <br>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Enter room details</p>
        <form #f="ngForm" (ngSubmit)="onSubmit(f,1)" >
            <div *ngIf="formError.groupnameExists" class = "alert alert-danger">Group name already exists</div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Room Name:</label>
                <input type="text" ngbAutoFocus class="form-control" name="name" ngModel #name="ngModel" id="name" required>
                <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
                    <div *ngIf="name.errors.required">Room name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Room Password:</label>
                <input type="password" class="form-control" name="password" ngModel #password="ngModel" id="password" required>
                <div *ngIf="password.touched && !password.valid" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Room password is required</div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button"  class="btn btn-primary" (click)="modal.close('Save click')">Save</button> -->
                <button type="submit" class="btn btn-primary" [disabled] = "!f.valid">Join</button>
            </div>
        </form>
    </div>
</ng-template>
